@layout LoginLayout
@namespace StudentAffairWeb.Client
@page "/SignUp"

<div>



    <div class='p-5'>
        <h3>Sign Up</h3>

        <EditForm Model="_user" OnValidSubmit="@Submit" class="form">
            <FluentValidationValidator />
            <ValidationSummary />
            <div class="form-row row mb-4">
                <div class="col-md-auto">
                    @if (!string.IsNullOrEmpty(_user?.ImagePath))
                    {
                        <img height="200" width="200" src="@_user.ImagePath" />
                    }
                </div>
                <div class="col-md-auto mt-5 ">

                    <InputFile OnChange="@LoadImage" />
                </div>
            </div>

            <label for="name">Email:</label>
            <InputText @bind-Value="_user.Email" class="form-control "></InputText>
            <ValidationMessage For="@(() => _user.Email)" />

            <label for="name">User Name:</label>
            <InputText @bind-Value="_user.Name" class="form-control "></InputText>
            <ValidationMessage For="@(() => _user.Name)" />


            <label for="Password">Password:</label>
            <input @bind-value="_user.Password" type="password" class="form-control "></input>
            <ValidationMessage For="@(() => _user.Password)" />

            <label for="Confirm Password">Confirm Password:</label>
            <input @bind-value="_user.ConfirmationPassword" type="password" class="form-control "></input>
            <ValidationMessage For="@(() => _user.ConfirmationPassword)" />

            <button type="submit" class="btn btn-primary mt-5 me-2 ">
                Sign UP
            </button>

            <a href="login" class="btn btn-danger mt-5 me-4">Cancel </a>
        </EditForm>

    </div>

</div>