@page "/classRoom/{ClassroomId}"
@attribute [Authorize]


@if (classRoom == null || teacher == null || subject == null)
{
    <h1>loading...</h1>
}
else
{
    <div class=" container flex justify-content-between mb-3" style="display:flex;">
        <h2>@classRoom.Name</h2>
        <a href="EditClassRoom/@classRoom.Id" class="btn btn-primary">Update</a>
    </div>
    <div class="container">
        <table class="table table-borderless table-striped ">
            <thead>
                <tr>
                    <th class="col col-6">
                        Subject
                    </th>
                    <th class="col col-6">
                        Teacher
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h2>@subject.Name</h2></td>
                    <td>
                        <table class="table table-striped">
                            <tbody>

                                <tr>
                                    <td>
                                        Teacher Name
                                    </td>
                                    <td>
                                        @teacher.Name
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Teacher Age
                                    </td>
                                    <td>
                                        @teacher.Age
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Teacher Birthdate
                                    </td>
                                    <td>
                                        @teacher.Birthdate
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        Teacher Phone
                                    </td>
                                    <td>
                                        @teacher.Phone
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
        <div class="card card-body">
            <h3 class="align-content-center"> students </h3>
            <EditForm Model="classRoomStudent" OnValidSubmit="AddStudent">
                <Blazored.FluentValidation.FluentValidationValidator />
                <ValidationSummary />
                <div class="row container my-3">
                    <InputSelect @bind-Value="classRoomStudent.StudentId" class="form-control col-md-8">
                        <option value=""></option>
                        @if (allStudents != null)
                        {
                            @foreach (Student student in allStudents)
                            {
                                <option value="@student.Id"> @student.Name</option>
                            }
                        }
                    </InputSelect>
                    <button type="submit" class="btn btn-primary col-md-3 ml-2   ">
                        Add
                    </button>
                </div>
            </EditForm>
            @if (students == null)
            {
                <span>
                    loading ...

                </span>
            }
            else
            {
                <table class="table table-borderless table-responsive-xl table-striped">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Age</th>
                            <th>Joined On:</th>
                            <th>
                                <div class="col col-8">
                                    <input type="text" class="form-control ml-6" placeholder="search..." @bind-value="searchText" @oninput="Search" />
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (ClassRoomStudent classRoomStudent in students ?? new())
                        {
                            <tr>
                                <td>
                                    @classRoomStudent.Student.Name
                                </td>
                                <td>
                                    @classRoomStudent.Student.Phone
                                </td>
                                <td>
                                    @classRoomStudent.Student.Age
                                </td>
                                <td>
                                    <p>
                                        @classRoomStudent.JoinedOn
                                    </p>
                                </td>
                                <td>
                                    <button class="btn btn-danger" @onclick="@(async()=>await RemoveStudent(classRoomStudent.Id))"> Remove </button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
}